/* General setup */

* {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
}

main {
  display: flex;
  flex-grow: 1;
}

aside {
  display: flex;
  flex-wrap: wrap;
}

nav {
  margin-right: 100px;
  display: flex;

}

footer {
  height: 100px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

header, section, aside, nav, footer {
  padding: 40px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #cc092f;
  border-bottom: 5px solid #cc092f;
  display: flex;
  justify-content: center;
  background-color: #cc092f;
}

/* WRITE YOUR CODE BELOW HERE */
button {
  font-size: 18px;
  line-height: 3;
  width: 200%;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid #cc092f;
  margin: 10px;
  border-radius: 12px;
}

button:hover {
  background-color: #AAAAAA;
}

a:link {
  text-decoration: underline;
  color: #cc092f;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: blue;
}
.indent {
  text-indent: 10px;
  margin-bottom: 10px;
}

h2:nth-of-type(1)  {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2:nth-of-type(2)  {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 50px;
  color: white;
}
